* {
    box-sizing: border-box;
}

body{
    background-image: url(../images/backgrround-img.png);
    color: black;
    text-align: left;
    line-height: px;
    word-spacing: 5px;
    margin: 0 auto;
    padding-left: 30px;

}

div {
    line-height: 30px;
}

#game {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    line-height: 70px;
}